<h1> Hiker Details </h1>

<p> <%= cl_image_tag @user.photo %>  </p>
<p>First Name: <%= @user.firstname %> </p>
<p>Surname: <%= @user.surname %> </p>
<p>Email: <%= @user.email %> </p>
<p>Location: <%= @user.location %> </p>
