<script>
  var hike = <%= raw @hike.to_json %>;
  var waypoints = <%= raw @waypoints.to_json %>;
</script>


<h1>Edit Hike</h1>

<%= render partial: 'form' %>

<!-- <%= text_field_tag :name, nil , id: "hikeName", placeholder: "Name" %><br>
<%= text_area_tag :description, nil ,  id: "hikeDesc", placeholder: "Description" %>
<%#= text_area_tag :id, nil, id: "id", placeholder: "ID" %>
<br> -->

<div id="mapid"></div>
