<script>
  var waypoints = <%= raw @waypoints.to_json %>;

  var hike_id = '<%= @hike.id %>';

  var markers = <%= raw @hike.markers.to_json include: [:tips] %>

  var current_user = <%= raw @current_user.to_json %>

  // var tips = <%=  %>

</script>

<!-- <div class="parallax-container"> -->
  <div id="mapid" ></div>
<!-- </div> -->

<!-- <button type="button" id="addMarker">Add Marker</button> -->

<div>
    <h3><%= @hike.name %></h3>
    <p><%= @hike.description %></p>
</div>

<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons" id="addMarker">location_on</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons" id="editHike">toc</i></a></li>
  </ul>
</div>


<!--
<div class='commentContainer'>
    <% @hike.comments.each do |c| %>
            <p class="userName"> <%= @current_user.firstname %> : <%= c.comment %> </p> -->
            <!-- <p class="comment"><%= c.comment %></p> -->
    <!-- <% end %>
</div>
<textarea class="commentText"placeholder="Comment" rows="8" cols="80"></textarea> -->



<div class="row">
   <div class="col s12">
     <div class="row">

       <div class="input-field col s6">
         <i class="material-icons prefix">textsms</i>
         <input class="commentText" type="text" class="autocomplete-input" class="autocomplete">
         <label for="autocomplete-input">COMMENT</label>
         <button class="submitComment">Submit</button>
       </div>

       <div class="input-field col s6">
             <div class='commentContainer'>
                 <% @hike.comments.each do |c| %>
                         <p class="userName"> <%= @current_user.firstname %> : <%= c.comment %> </p>
                 <% end %>
           </div>
       </div>


     </div>
   </div>
 </div>
