<!DOCTYPE html>
<html>
  <head>
    <title>Trekr</title>
    <%= csrf_meta_tags %>

    <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="assets/materialize.css"  media="screen,projection"/>

     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= cloudinary_js_config %>

    <script src="//scribblemaps.com/api/js/"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4e1KgLbKlIWzhOiPoJcBW6v_02e6fwCg&v=3&libraries=places&sensor=false"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">

  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <nav>
      <div class="nav wrapper">
        <a class="brand-logo right">TREKR
        <% unless "#{params[:controller]}.#{params[:action]}" == "static.show" ||  "#{params[:controller]}.#{params[:action]}" == "session.new"  %></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li>
                <% unless @current_user.present? %>
                    <button> <%= link_to 'Login', login_path %></button> <button><%= link_to 'Signup', new_user_path %></button>
                  <% else %>
                </li>
              <li>
                <a <%= link_to @current_user.firstname, user_path(@current_user)%> ></a>
              </li>
              <li>
                  <%= link_to 'Logout', login_path, method: :delete %>
                  <% end %>
              </li>

              <li>
                  <a><%= link_to 'Create Hike', new_hike_path %> </a>
              </li>

              <li>
                  <a><%= link_to 'Search for Hikes', hikes_path %></a>
              </li>
              <li>
                <a>
                  <% if @current_user.present? %>
                    <%= link_to 'Edit Profile', edit_user_path(@current_user) %>
                  <% end %>
                </a>
              </li>
              <li>
                <a id='editHike'>
                  <% if @hike %>
                    <% if @current_user == @hike.user %>
                       <%= link_to 'Edit Hike', edit_hike_path(@hike) %>
                    <% end %>
                  <% end %>
                </a>
              </li>
            </ul>
            <% end %>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
